/* Archivo css para establecer estilos que se
usaran para casi todos los componentes */

/* Color palette for webpage
https://www.canva.com/colors/color-palettes/pastel-blonde/
 */


html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: #DAE3E6;
}

.blue {
    background-color: #90a8ee;
}

.yellow {
    background-color: #000;
}

.green {
    background-color: #B5EECB;
}

.gray {
    background-color: #DAE3E6;
}

.yellow-text {
    color: #000 !important;
}
