/* Archivo css para establecer estilos que se
usaran para casi todos los componentes */

/* Color palette for webpage
https://www.canva.com/colors/color-palettes/pastel-blonde/
 */

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.yellow {
    background-color: #FFF4BD;
}

.roseQuartz {
    background-color: #F4B9B8;
}

.spearmint {
    background-color: #85D2D0;
}

.purple {
    background-color: #887BB0;
}
